header {
  display: flex;
  height: 50px;
}
header .logo .logo-img {
  height: 50px;
}
header nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}
header nav .nav-left ul {
  display: flex;
}
header nav .nav-left ul li {
  padding: 0 10px;
}
header nav .nav-left ul li a {
  color: #7A3DA4;
}
header nav .nav-right ul {
  display: flex;
}
header nav .nav-right ul li {
  padding: 0 10px;
}
header nav .nav-right ul li a {
  color: #7A3DA4;
}
header nav .nav-right ul li:nth-child(1) {
  line-height: 21px;
}
