.w {
  padding: 0 4.57142857vw;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8vw;
  height: 3000px;
}
header {
  border-bottom: 1px solid #EAEAEA;
}
header .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.57142857vw;
  height: 4.57142857vw;
}
header .head .logo {
  margin-top: 2.28571429vw;
}
header .head .logo a {
  display: block;
  background: url(../images/logo2.png) no-repeat;
  width: 8.51428571vw;
  height: 6.28571429vw;
  text-indent: -5714.22857143vw;
  background-size: 100%;
  border-radius: 0.57142857vw;
}
header .head .button-wrapper {
  margin-left: 3.42857143vw;
  display: flex;
}
header .head .button-wrapper li {
  padding: 0.57142857vw 0.91428571vw;
}
header .head .button-wrapper li a {
  color: #BCBCBC;
}
header .head .button-wrapper li .active {
  color: #222222;
}
header .head .button-wrapper li a:hover {
  color: #8a8a8a;
}
header .head .login {
  display: flex;
  align-items: center;
}
header .head .login .clear-home {
  margin-right: 1.14285714vw;
}
header .head .login .clear-home a {
  padding: 1.14285714vw;
}
header .head .login .clear-home svg {
  cursor: pointer;
  width: 0.91428571vw;
  height: 0.91428571vw;
  position: relative;
  top: 0.17142857vw;
}
header .head .login .user button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.45714286vw 0.45714286vw 0.45714286vw 0.45714286vw;
  border-radius: 1.71428571vw;
  border: 0.05714286vw solid #DDDDDD;
  background-color: #fff;
  width: 4vw;
  box-shadow: 0 0.22857143vw 0.45714286vw rgba(0, 0, 0, 0.1);
}
header .head .login .user button div svg {
  width: 1.14285714vw;
  height: 1.14285714vw;
}
header .head .login .user button div:nth-child(2) svg {
  width: 1.14285714vw;
  height: 1.14285714vw;
}
.main-input {
  display: flex;
  justify-content: center;
  margin: 0.85714286vw 0;
  caret-color: transparent;
}
.main-input .box-input {
  display: flex;
  cursor: pointer;
  border: 0.05714286vw solid #DDDDDD;
  border-radius: 1.82857143vw;
  box-shadow: 0 0.22857143vw 0.45714286vw rgba(0, 0, 0, 0.1);
}
.main-input .box-input .input-box-1 {
  position: relative;
  padding: 0.57142857vw 1.82857143vw;
}
.main-input .box-input .input-box-1 label {
  cursor: pointer;
}
.main-input .box-input .input-box-1 label input {
  outline: none;
  border: none;
  width: 100%;
  caret-color: initial;
  font-size: 0.8vw;
}
.main-input .box-input .input-box-1 label div {
  margin-bottom: 2px;
}
.main-input .box-input .input-box-1:hover {
  background-color: #DDDDDD;
  border-radius: 1.82857143vw;
}
.main-input .box-input .input-box-1:hover label input {
  background-color: #DDDDDD;
}
.main-input .box-input .input-box-1::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: #DDDDDD;
  border-radius: 50%;
}
.main-input .box-input .box1-after::after {
  display: none !important;
}
.main-input .box-input .input-box-2 {
  display: flex;
}
.main-input .box-input .input-box-2 .input-box-2-left {
  position: relative;
  padding: 0.8vw 1.82857143vw;
}
.main-input .box-input .input-box-2 .input-box-2-left div:nth-child(2) {
  color: #8a8a8a;
}
.main-input .box-input .input-box-2 .input-box-2-left::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: #DDDDDD;
  border-radius: 50%;
}
.main-input .box-input .input-box-2 .input-box-2-right {
  position: relative;
  padding: 0.8vw 1.82857143vw;
}
.main-input .box-input .input-box-2 .input-box-2-right div:nth-child(2) {
  color: #8a8a8a;
}
.main-input .box-input .input-box-2 .input-box-2-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: #DDDDDD;
  border-radius: 50%;
}
.main-input .box-input .input-box-2 .input-box-2-left:hover {
  background-color: #DDDDDD;
  border-radius: 1.82857143vw;
}
.main-input .box-input .input-box-2 .input-box-2-right:hover {
  background-color: #DDDDDD;
  border-radius: 1.82857143vw;
}
.main-input .box-input .input-box-center {
  display: none;
  position: relative;
  width: 11.42857143vw;
  padding: 14px 24px;
}
.main-input .box-input .input-box-center div:nth-child(2) {
  color: #8a8a8a;
}
.main-input .box-input .input-box-center:hover {
  background-color: #DDDDDD;
  border-radius: 1.82857143vw;
}
.main-input .box-input .input-box-center::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: #DDDDDD;
  border-radius: 50%;
}
.main-input .box-input .input-box-3 {
  position: relative;
  width: 11.42857143vw;
  padding: 0.8vw 1.82857143vw;
}
.main-input .box-input .input-box-3 div:nth-child(2) {
  color: #8a8a8a;
}
.main-input .box-input .input-box-3 .input-box-3-button-1 {
  position: absolute;
  border-radius: 2.85714286vw;
  top: 0.45714286vw;
  right: 1.02857143vw;
  height: 2.74285714vw;
  width: 2.74285714vw;
  background-color: #FF385C;
}
.main-input .box-input .input-box-3 .input-box-3-button-1 svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.main-input .box-input .input-box-3 .input-box-3-button-1 div {
  display: none;
}
.main-input .box-input .input-box-3 .input-box-3-button-2 {
  position: absolute;
  border-radius: 2.85714286vw;
  top: 0.45714286vw;
  right: 1.02857143vw;
  height: 2.74285714vw;
  width: 5.71428571vw;
  background-color: #FF385C;
  line-height: 2.74285714vw;
}
.main-input .box-input .input-box-3 .input-box-3-button-2 svg {
  position: absolute;
  top: 50%;
  left: 1.71428571vw;
  transform: translate(-50%, -50%);
  color: #fff;
}
.main-input .box-input .input-box-3 .input-box-3-button-2 div {
  position: absolute;
  right: 1.25714286vw;
  color: #fff;
}
.main-input .box-input .input-box-3:hover {
  background-color: #DDDDDD;
  border-radius: 1.82857143vw;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0.68571429vw 0 0 0;
}
.navbar .scrollable-area {
  align-items: center;
  display: flex;
  flex-grow: 15;
}
.navbar .scrollable-area .scrollable {
  display: flex;
}
.navbar .scrollable-area .scrollable button {
  background-color: #fff;
  border: none;
}
.navbar .scrollable-area .scrollable button svg {
  cursor: pointer;
  width: 1.31428571vw;
  height: 1.31428571vw;
  color: #BCBCBC;
}
.navbar .scrollable-area .scrollable .scroll-bar {
  display: flex;
  width: 68.57142857vw;
  gap: 2.28571429vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.navbar .scrollable-area .scrollable .scroll-bar .bbr a {
  display: flex;
  flex-direction: column;
  margin: 0.68571429vw 0 0.57142857vw 0;
  gap: 0.28571429vw;
}
.navbar .scrollable-area .scrollable .scroll-bar .bbr a img {
  height: 1.37142857vw;
  width: 1.37142857vw;
}
.navbar .scrollable-area .filters span {
  cursor: pointer;
  display: flex;
  border: 0.05714286vw solid #222222;
  padding: 0.68571429vw 0.91428571vw;
  border-radius: 0.57142857vw;
  margin-left: 0.57142857vw;
  gap: 0.57142857vw;
  border-color: #DDDDDD;
}
.navbar .nav-right {
  flex-grow: 1;
}
.navbar .nav-right .right-box {
  cursor: pointer;
}
.navbar .nav-right .right-box div {
  display: flex;
  align-items: center;
  border: 0.05714286vw solid #222222;
  border-radius: 0.57142857vw;
  padding: 0.51428571vw 0.91428571vw;
  border-color: #DDDDDD;
  gap: 10px;
}
.navbar .nav-right .right-box div svg {
  width: 1.37142857vw;
  height: 1.37142857vw;
}
.main-box {
  display: flex;
  margin-top: 0.57142857vw;
  flex-wrap: wrap;
  gap: 1.14285714vw;
}
.main-box .box {
  position: relative;
  overflow: hidden;
}
.main-box .box a {
  display: flex;
}
.main-box .box a img {
  width: 17.08571429vw;
  height: 16.22857143vw;
  border-radius: 0.85714286vw;
}
.main-box .box a .bi-heart {
  position: absolute;
  top: 0.57142857vw;
  right: 0.57142857vw;
  color: #fff;
  width: 1.2vw;
  height: 1.2vw;
}
.main-box .box .box-font {
  padding-top: 0.97142857vw;
  display: flex;
  flex-direction: column;
  gap: 0.17142857vw;
}
.main-box .box .box-font .score {
  display: flex;
  position: absolute;
  right: 0.85714286vw;
  gap: 0.34285714vw;
}
.main-box .box .price {
  padding-top: 15px;
}
